### Importing Dependencies

In [65]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

### Extracting CSVs into DataFrames

In [100]:
happiness_file = "world-happiness-report-2005-2018.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df

,Country name;Year;Life Ladder;Log GDP per capita;Social support;Healthy life expectancy at birth;Freedom to make life choices;Generosity;Perceptions of corruption;Positive affect;Negative affect;Confidence in national government;Democratic Quality;Delivery Quality;Standard deviation of ladder by country-year;Standard deviation/Mean of ladder by country-year;GINI index (World Bank estimate);GINI index (World Bank estimate),average 2000-16;gini of household income reported in Gallup,by wp5-year;Most people can be trusted,Gallup;Most people can be trusted,WVS round 1981-1984;Most people can be trusted,WVS round 1989-1993;Most people can be trusted,WVS round 1994-1998;Most people can be trusted,WVS round 1999-2004;Most people can be trusted,WVS round 2005-2009;Most people can be trusted,WVS round 2010-2014
0,Afghanistan;2008;3.723589897;7.168690205;0.450...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan;2009;4.401778221;7.333789825;0.552...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan;2010;4.75838089;7.386628628;0.5390...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan;2011;3.83171916;7.415018559;0.5211...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan;2012;3.782937527;7.517126083;0.520...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1699,Zimbabwe;2014;4.184450626;7.562753201;0.765838...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1700,Zimbabwe;2015;3.70319128;7.556051731;0.7358003...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1701,Zimbabwe;2016;3.7354002;7.538829327;0.76842540...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1702,Zimbabwe;2017;3.63830018;7.549490929;0.7541470...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1703,Zimbabwe;2018;3.616479874;7.553394794;0.775388...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
suicide_file = "suicide_data.csv"
suicide_df = pd.read_csv(suicide_file)
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Transforming DataFrames

#### Transforming happiness_df first

In [102]:
happiness_df.columns

Index(['Country name;Year;Life Ladder;Log GDP per capita;Social support;Healthy life expectancy at birth;Freedom to make life choices;Generosity;Perceptions of corruption;Positive affect;Negative affect;Confidence in national government;Democratic Quality;Delivery Quality;Standard deviation of ladder by country-year;Standard deviation/Mean of ladder by country-year;GINI index (World Bank estimate);GINI index (World Bank estimate)',
       ' average 2000-16;gini of household income reported in Gallup',
       ' by wp5-year;Most people can be trusted',
       ' Gallup;Most people can be trusted',
       ' WVS round 1981-1984;Most people can be trusted',
       ' WVS round 1989-1993;Most people can be trusted',
       ' WVS round 1994-1998;Most people can be trusted',
       ' WVS round 1999-2004;Most people can be trusted',
       ' WVS round 2005-2009;Most people can be trusted',
       ' WVS round 2010-2014'],
      dtype='object')

In [103]:
#Dropping all columns except first as they're empty
happiness_df = happiness_df.dropna(axis=1)

In [104]:
happiness_df.head()

  Country name;Year;Life Ladder;Log GDP per capita;Social support;Healthy life expectancy at birth;Freedom to make life choices;Generosity;Perceptions of corruption;Positive affect;Negative affect;Confidence in national government;Democratic Quality;Delivery Quality;Standard deviation of ladder by country-year;Standard deviation/Mean of ladder by country-year;GINI index (World Bank estimate);GINI index (World Bank estimate)
0  Afghanistan;2008;3.723589897;7.168690205;0.450...
1  Afghanistan;2009;4.401778221;7.333789825;0.552...
2  Afghanistan;2010;4.75838089;7.386628628;0.5390...
3  Afghanistan;2011;3.83171916;7.415018559;0.5211...
4  Afghanistan;2012;3.782937527;7.517126083;0.520...

In [105]:
#Splitting columns using ';' as a delimiter
happiness_df_transformed = happiness_df['Country name;Year;Life Ladder;Log GDP per capita;Social support;Healthy life expectancy at birth;Freedom to make life choices;Generosity;Perceptions of corruption;Positive affect;Negative affect;Confidence in national government;Democratic Quality;Delivery Quality;Standard deviation of ladder by country-year;Standard deviation/Mean of ladder by country-year;GINI index (World Bank estimate);GINI index (World Bank estimate)'].str.split(";",expand=True,)
happiness_df_transformed

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Afghanistan,2008,3.723589897,7.168690205,0.450662315,50.79999924,0.718114316,0.177888572,0.88168633,0.517637193,...,,,,,,,,,,
1,Afghanistan,2009,4.401778221,7.333789825,0.55230844,51.20000076,0.678896368,0.200178429,0.850035429,0.583925605,...,,,0.441905767,0.286315262,,,,,,
2,Afghanistan,2010,4.75838089,7.386628628,0.539075196,51.59999847,0.60012722,0.13435255,0.706766069,0.61826545,...,,,0.327318162,0.275832713,,,,,,
3,Afghanistan,2011,3.83171916,7.415018559,0.521103561,51.91999817,0.495901406,0.172136664,0.731108546,0.611387312,...,,,0.336764246,,,,,,,
4,Afghanistan,2012,3.782937527,7.517126083,0.520636737,52.24000168,0.530935049,0.244272724,0.775619805,0.710384727,...,,,0.344539613,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,Zimbabwe,2014,4.184450626,7.562753201,0.765838981,52.38000107,0.642033815,-0.048634466,0.820217133,0.725213528,...,,0.432,0.601080358,,,,,0.116682939,,0.08294227
1700,Zimbabwe,2015,3.70319128,7.556051731,0.735800326,53.79999924,0.667193294,-0.097354479,0.810457349,0.715078771,...,,0.432,0.6551373,,,,,0.116682939,,0.08294227
1701,Zimbabwe,2016,3.7354002,7.538829327,0.768425405,54.40000153,0.732971489,-0.068104587,0.72361201,0.737635911,...,,0.432,0.596690178,,,,,0.116682939,,0.08294227
1702,Zimbabwe,2017,3.63830018,7.549490929,0.754147053,55,0.752826095,-0.069669798,0.751208007,0.806428373,...,,0.432,0.581483781,,,,,0.116682939,,0.08294227
1703,Zimbabwe,2018,3.616479874,7.553394794,0.775388479,55.59999847,0.762674868,-0.038383581,0.844208658,0.710118651,...,,0.432,0.541771829,,,,,0.116682939,,0.08294227

In [106]:
# By taking a look at the data in the CSV, we know that we only need the first 16 columns of the transformed dataframe
# Selecting first 16 columns and renaming them

happiness_df_transformed = happiness_df_transformed.iloc[:,0:16]
happiness_df_transformed.columns = ['Country','Year','Life Ladder',
              'Log GDP per capita','Social support',
              'Healthy life expectancy at birth',
              'Freedom to make life choices','Generosity',
              'Perceptions of corruption','Positive affect',
              'Negative affect','Confidence in national government',
              'Democratic Quality','Delivery Quality',
              'Standard deviation of ladder by country-year',
              'Standard deviation/Mean of ladder by country-year']
happiness_df_transformed

,Country,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year
0,Afghanistan,2008,3.723589897,7.168690205,0.450662315,50.79999924,0.718114316,0.177888572,0.88168633,0.517637193,0.25819549,0.61207211,-1.929689646,-1.655084372,1.774661899,0.476599723
1,Afghanistan,2009,4.401778221,7.333789825,0.55230844,51.20000076,0.678896368,0.200178429,0.850035429,0.583925605,0.23709242,0.611545205,-2.044092655,-1.635024786,1.722687602,0.391361743
2,Afghanistan,2010,4.75838089,7.386628628,0.539075196,51.59999847,0.60012722,0.13435255,0.706766069,0.61826545,0.275323808,0.299357414,-1.991810083,-1.617176056,1.878621817,0.394802749
3,Afghanistan,2011,3.83171916,7.415018559,0.521103561,51.91999817,0.495901406,0.172136664,0.731108546,0.611387312,0.267174691,0.307385713,-1.919018269,-1.616221189,1.78535974,0.465942234
4,Afghanistan,2012,3.782937527,7.517126083,0.520636737,52.24000168,0.530935049,0.244272724,0.775619805,0.710384727,0.267919123,0.435440153,-1.842995763,-1.40407753,1.798283219,0.47536689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,Zimbabwe,2014,4.184450626,7.562753201,0.765838981,52.38000107,0.642033815,-0.048634466,0.820217133,0.725213528,0.239110738,0.56620872,-0.985266924,-1.484067082,2.079247952,0.496898681
1700,Zimbabwe,2015,3.70319128,7.556051731,0.735800326,53.79999924,0.667193294,-0.097354479,0.810457349,0.715078771,0.178861097,0.590012372,-0.893077552,-1.357513547,2.198865414,0.593775809
1701,Zimbabwe,2016,3.7354002,7.538829327,0.768425405,54.40000153,0.732971489,-0.068104587,0.72361201,0.737635911,0.208554924,0.699344039,-0.900649309,-1.374650478,2.776363134,0.743257225
1702,Zimbabwe,2017,3.63830018,7.549490929,0.754147053,55,0.752826095,-0.069669798,0.751208007,0.806428373,0.224051341,0.682646692,-0.988153279,-1.350866795,2.656847954,0.730244279
1703,Zimbabwe,2018,3.616479874,7.553394794,0.775388479,55.59999847,0.762674868,-0.038383581,0.844208658,0.710118651,0.211725846,0.550507784,,,2.498695612,0.69091928

In [107]:
happiness_df_transformed.dtypes

Country                                              object
Year                                                 object
Life Ladder                                          object
Log GDP per capita                                   object
Social support                                       object
Healthy life expectancy at birth                     object
Freedom to make life choices                         object
Generosity                                           object
Perceptions of corruption                            object
Positive affect                                      object
Negative affect                                      object
Confidence in national government                    object
Democratic Quality                                   object
Delivery Quality                                     object
Standard deviation of ladder by country-year         object
Standard deviation/Mean of ladder by country-year    object
dtype: object

In [108]:
# Converting columns to appropriate datatypes
happiness_df_transformed[['Year','Life Ladder',
              'Log GDP per capita','Social support',
              'Healthy life expectancy at birth',
              'Freedom to make life choices','Generosity',
              'Perceptions of corruption','Positive affect',
              'Negative affect','Confidence in national government',
              'Democratic Quality','Delivery Quality',
              'Standard deviation of ladder by country-year',
              'Standard deviation/Mean of ladder by country-year']] = happiness_df_transformed[['Year','Life Ladder',
                                                                                                  'Log GDP per capita','Social support',
                                                                                                  'Healthy life expectancy at birth',
                                                                                                  'Freedom to make life choices','Generosity',
                                                                                                  'Perceptions of corruption','Positive affect',
                                                                                                  'Negative affect','Confidence in national government',
                                                                                                  'Democratic Quality','Delivery Quality',
                                                                                                  'Standard deviation of ladder by country-year',
                                                                                                  'Standard deviation/Mean of ladder by country-year']].apply(pd.to_numeric)

happiness_df_transformed['Country'] = happiness_df_transformed['Country'].astype(str)

happiness_df_transformed.dtypes

C:\Users\nites\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\nites\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Country                                               object
Year                                                   int64
Life Ladder                                          float64
Log GDP per capita                                   float64
Social support                                       float64
Healthy life expectancy at birth                     float64
Freedom to make life choices                         float64
Generosity                                           float64
Perceptions of corruption                            float64
Positive affect                                      float64
Negative affect                                      float64
Confidence in national government                    float64
Democratic Quality                                   float64
Delivery Quality                                     float64
Standard deviation of ladder by country-year         float64
Standard deviation/Mean of ladder by country-year    float64
dtype: object

In [109]:
happiness_df_transformed = happiness_df_transformed.drop('Log GDP per capita',axis=1)

In [110]:
happiness_df_transformed = happiness_df_transformed.set_index('Country')
happiness_df_transformed

,Year,Life Ladder,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year
Country,,,,,,,,,,,,,,
Afghanistan,2008,3.723590,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600
Afghanistan,2009,4.401778,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362
Afghanistan,2010,4.758381,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803
Afghanistan,2011,3.831719,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942
Afghanistan,2012,3.782938,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2014,4.184451,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,0.239111,0.566209,-0.985267,-1.484067,2.079248,0.496899
Zimbabwe,2015,3.703191,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,0.178861,0.590012,-0.893078,-1.357514,2.198865,0.593776
Zimbabwe,2016,3.735400,0.768425,54.400002,0.732971,-0.068105,0.723612,0.737636,0.208555,0.699344,-0.900649,-1.374650,2.776363,0.743257
Zimbabwe,2017,3.638300,0.754147,55.000000,0.752826,-0.069670,0.751208,0.806428,0.224051,0.682647,-0.988153,-1.350867,2.656848,0.730244
Zimbabwe,2018,3.616480,0.775388,55.599998,0.762675,-0.038384,0.844209,0.710119,0.211726,0.550508,NaN,NaN,2.498696,0.690919

#### Transforming suicide_df

In [111]:
suicide_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year', 'gdp_for_year ($)',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [112]:
suicide_df = suicide_df[(suicide_df['year'] < 2016)]

In [113]:
columns = ['country','year','sex','suicides_no','gdp_for_year ($)','gdp_per_capita ($)']
suicide_yrs = suicide_df.loc[suicide_df["year"] > 2004, columns]
suicide_yrs = suicide_yrs.rename(columns={'gdp_for_year ($)': "GDP_per_year",'gdp_per_capita ($)': "GDP_per_capita"})
suicide_yrs.head()

     country  year     sex  suicides_no   GDP_per_year  GDP_per_capita
192  Albania  2005  female            0  8,158,548,717            2931
193  Albania  2005  female            0  8,158,548,717            2931
194  Albania  2005  female            0  8,158,548,717            2931
195  Albania  2005  female            0  8,158,548,717            2931
196  Albania  2005  female            0  8,158,548,717            2931

In [114]:
suicide_new = suicide_yrs.groupby(['country', 'year','sex','GDP_per_year','GDP_per_capita']).agg({'suicides_no': ['sum']})
suicide_new.columns = ['suicides_no']
suicide_new = suicide_new.reset_index()
suicide_new.head()

   country  year     sex    GDP_per_year  GDP_per_capita  suicides_no
0  Albania  2005  female   8,158,548,717            2931            0
1  Albania  2005    male   8,158,548,717            2931            0
2  Albania  2006  female   8,992,642,349            3235            0
3  Albania  2006    male   8,992,642,349            3235            0
4  Albania  2007  female  10,701,011,897            3863           47

In [115]:
suicide_new.replace(',','', regex=True, inplace=True)
suicide_new

         country  year     sex GDP_per_year  GDP_per_capita  suicides_no
0        Albania  2005  female   8158548717            2931            0
1        Albania  2005    male   8158548717            2931            0
2        Albania  2006  female   8992642349            3235            0
3        Albania  2006    male   8992642349            3235            0
4        Albania  2007  female  10701011897            3863           47
...          ...   ...     ...          ...             ...          ...
1803  Uzbekistan  2012    male  51821573338            1964         1220
1804  Uzbekistan  2013  female  57690453461            2150          628
1805  Uzbekistan  2013    male  57690453461            2150         1322
1806  Uzbekistan  2014  female  63067077179            2309          690
1807  Uzbekistan  2014    male  63067077179            2309         1405

[1808 rows x 6 columns]

In [116]:
suicide_new.set_index("country", inplace = True)
suicide_new.head()

         year     sex GDP_per_year  GDP_per_capita  suicides_no
country
Albania  2005  female   8158548717            2931            0
Albania  2005    male   8158548717            2931            0
Albania  2006  female   8992642349            3235            0
Albania  2006    male   8992642349            3235            0
Albania  2007  female  10701011897            3863           47

In [117]:
suicide_new['GDP_per_year'].astype(str).astype(float)
suicide_new

            year     sex GDP_per_year  GDP_per_capita  suicides_no
country
Albania     2005  female   8158548717            2931            0
Albania     2005    male   8158548717            2931            0
Albania     2006  female   8992642349            3235            0
Albania     2006    male   8992642349            3235            0
Albania     2007  female  10701011897            3863           47
...          ...     ...          ...             ...          ...
Uzbekistan  2012    male  51821573338            1964         1220
Uzbekistan  2013  female  57690453461            2150          628
Uzbekistan  2013    male  57690453461            2150         1322
Uzbekistan  2014  female  63067077179            2309          690
Uzbekistan  2014    male  63067077179            2309         1405

[1808 rows x 5 columns]

### Loading the two dataframes to PostgresSQL

In [118]:
connection_string = f"postgres:{password}@localhost:5432/world_happiness_suicides"
engine = create_engine(f'postgresql://{connection_string}')

In [121]:
# Confirm tables
engine.table_names()

['suicide', 'world_happiness']

In [122]:
happiness_df_transformed.to_sql(name='world_happiness', con=engine, if_exists='append', index=True)

In [120]:
suicide_new.to_sql(name='suicide', con=engine, if_exists='append', index=True)

####Data sources, format, transform, data cleaning?, merge?